:root {
    --body-font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--body-font);
    color: black;
    background-color: none;

}

.main-container {
    padding-bottom: 2rem;
}

.btn-outline-success {
    --bs-btn-hover-color: rgb(6, 169, 123);
}

.main-container {
    background-color: rgb(236, 236, 236);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: var(--bs-light-rgb);
}

.head-title {
    text-align: center;
}

.card-body {
    border-radius: 7rem;
}

.wp-block-code>div {
    overflow: auto;
}

.hljs-link_label,
.hljs-literal,
.hljs-number {
    color: #d3869b;
}

.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
    color: #83a598;
}

.wp-block-code code {
    white-space: pre !important;
}

.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
    color: #b8bb26;
}

.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
    color: #fb4934;

}

.ink {
    text-decoration: none;
    color: #818245;

}

.ink:hover {
    text-decoration: none;
    color: #000000;
}

button:hover {
    color: #000000;
    transition: all 0.3s;
    transform: translate(1px);
}

.tab1,
.tab-2,
.tab-3 {
    margin: 4rem 0;
}

p {
    padding: 0 0 5px;
}

.mybtn {
    color: rgb(255, 0, 0)
}